/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Economica:ital,wght@0,400;0,700;1,700&family=Lemonada:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&display=swap');
/* CSS variables */
:root {
	--mainGradient: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
	--reverseGradient: linear-gradient(to right, #00c9ff 0%, #92fe9d 100%);
	--primaryColor: #00c9ff;
	--secondaryColor: #92fe9d;
	--mainGrey: #e8e8e8;
	--darkGrey: #a9a9a9;
	--mainWhite: #fff;
	--offWhite: #f5f5f5;
	--mainBlack: #222;
	--mainTransition: all 0.5s linear;
	--mainSpacing: 0.25rem;
	--lightShadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
	--darkShadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
}

/* Resets */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cantarell', sans-serif;
	background: var(--offWhite);
	color: var(--mainBlack);
	line-height: 1.5;
	font-size: 1rem;
	overflow-x: hidden;
}

/*  Global Styles */

.section__title{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: var(--mainSpacing);
}

.section__center{
	margin:0 auto;
}

img {
	width: 100%;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Londrina Solid', cursive;
	margin-bottom: 1.25rem;
	letter-spacing: var(--mainSpacing);
}

h1 {
	font-size: 3.3rem;
}

h2,
h3,
h4 {
font-family: 'Economica', sans-serif;
}

h2 {
	font-size: 2.3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.2rem;
}

p {
	margin-bottom: 1.25rem;
	line-height: 2;
	font-weight: 300;
}

a {
	text-decoration: none;
}

/* More global styles */
.divider {
	width: 100%;
	background-color: var(--darkGrey);
	height: 0.015rem;
	margin-bottom: 0.6rem;
}

/* TODO: navbar*/
.navbar {
	z-index: 5;
	color: var(--mainWhite);
	width: 100%;
	padding: 1rem;
	height: 4rem;
	background-color: var(--mainBlack) ;
	position: fixed;
	transition: all 0.2s linear;
	top: 0;
	left: 0;
	margin: 0 auto;
}

.nav__logo h2 {
	font-size: 1.7rem;
	cursor: pointer;
	display: inline-block;
}

.nav__menu__icon {
	position: absolute;
	height: 2rem;
	width: 2rem;
	top: 0;
	right: 0;
	fill: white;
	margin-top: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}

#cross{
	opacity:0;
}

.nav__items{
		display: none;
		flex-direction: column;
}

.nav__link {
	padding: 1rem;
	color: var(--mainWhite);
	display: flex;
}

.nav__link:hover {
	background-color: var(--mainWhite);
	color: var(--mainBlack);
	transition: var(--mainTransition);
}

.nav__link:hover .nav__link__icon {
	fill: var(--mainBlack);
}

.nav__link__icon {
	width: 1.5rem;
	height: 1.5rem;
	fill: white;
	margin-right: 0.7rem;
}

@media screen and (min-width: 992px) {
	.nav__link {
		display: flex;
		font-weight: bold;
	}

	.nav__link:hover {
		background-color: transparent;
		color: var(--mainWhite);
		transform: scale(1.2);
		font-weight: bold;
	}

	.nav__link:hover .nav__link__icon {
		fill: var(--mainWhite);
	}
	
	.nav__logo h2 {
		margin-bottom: 0;
	}
	
	.navbar {
		display: flex;
		padding: 1rem 4.5rem;
		justify-content: space-between;
		height: 4rem !important;
		align-items: center;
		background-color: var(--mainBlack)
	}

	.nav__items {
		display: flex !important;
		margin-left: auto;
		flex-direction: row;
	}

	.nav__menu__icon {
		display: none;
	}

	.nav__items .divider {
		display: none;
	}
}

@media screen and (max-width:768){
	.navbar{
		background-color: var(--mainBlack);
	}
}

.nav__coloured{
	background-color:black;
}

.nav__transparent{
	background-color: transparent;
}

/* End navbar */


/* Hero */

.hero{
	margin-top: 4rem;
	padding: 4rem 2rem;
}

.hero__title{
	text-transform: uppercase;
}

.hero__image__container{
	margin-bottom: 2rem;
}

.hero__image{
	width: 100%;
	height: 100%;
}

.hero__text{
	margin-bottom: 2rem;
}

.hero__intro__text{
	color: var(--darkGrey);
	margin-bottom: 0;
	font-size: 1.5rem;
}

.hero__title h1{
	margin-top:1rem;
	font-size: 4rem;
	line-height: 1.2
}

.hero__title h2{
	font-size: 1.5rem;
	font-weight: bold;
}

.hero__list__item{
	list-style: none;
	display: flex;
	margin: 1rem 0;
}

.hero__list{
	margin-bottom: 3rem;
}

.hero__list__item span{
	text-transform: capitalize;
}

.hero__list__item__icon{
	width: 30px;
	height: 30px;
	fill:var(--primaryColor);
	margin-right:1rem;
}

.social__icons{
	display: flex;
}

.social__icon{
	border: 3px solid var(--mainBlack);
	padding: 0.5rem;
	width: 50px;
	height: 50px;
	margin: 0 0.8rem;
	cursor: pointer;
	border-radius: 10px;
	transition:all 0.2s linear;
}

.social__icon:hover{
	border: 3px solid var(--mainWhite);
	fill:var(--mainWhite);
	background-image:var(--mainGradient);
}

@media screen and (min-width: 768px){
	.hero__image__container{
		width: 90%;
		height: 90%;
		margin:2rem auto;
	}

	.hero__image{
		border-radius: 20px;
	}

	.hero{
		background-color: var(--mainWhite);
		width:90%;
		margin: 5rem auto;
		border-radius: 10px;
		box-shadow: 4px 3px 14px 2px rgba(0,0,0,0.75);
		position: relative;
		z-index:2;
	}

	.hero__info{
		width:80%;
		margin: 0 auto
	}

	.hero__bg{
		background: var(--mainGradient);
		width:100vw;
		top:0;
		height: 70rem;
		position: absolute;
		z-index: -1;
	}
}

@media screen and (min-width: 992px){
	.hero{
		display:flex;
		justify-content:center;
		align-items:center;
		margin-top: 8rem;
	}

	.hero__image__container{
		flex:0 0 calc(50% - 2rem);
		max-height: 40rem;
		overflow:hidden;
		align-self: flex-start;
		border-radius: 20px;
	}

		.hero__bg{
		height: 55rem;
	}

	.navbar{
		background-color:transparent
	}

	.hero__info{
		margin-left: 4rem;
	}
}

/* End Hero */


/* Start About */

.about {
	padding: 1.5rem;
}

.about__text{
	text-align: justify;
	font-size: 0.95rem;
	margin: 2rem auto;
}

.about__card__icon{
	width: 25px;
	height: 25px;
	fill:var(--secondaryColor);
}

.about__card__stats{
	font-weight:bold;
	font-size: 3rem;
	margin-bottom: -0.5rem;
}

.about__card__title{
	text-transform: uppercase;
	color: var(--darkGrey);
}

.about__card{
	widows: 90%;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	margin-bottom: 3rem;
	padding: 1rem;
}

.skill{
	margin-bottom: 1rem;
}

.skill__title{
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 0.7rem;
	font-weight: 900;
}

.skill__progress__bar{
	height: 15px;
	border-radius: 7.5px;
	background-color: var(--mainGrey);
	position: relative;
}

.skill__progress__bar__completed{
	position: absolute;
	z-index: 2;
		height: 15px;
	border-radius: 7.5px;
	top: 0;
	left: 0;
	width: 75%;
	background-image: var(--mainGradient);
}

@media screen and (min-width:768px){
	.about__cards{
		display: flex;
		justify-content: space-between;
	}

	.about__card{
		text-align: center;
		flex:0 0 calc(33.333%-2rem);
	}

	.section__center{
		padding: 0 4rem;
	}
}

@media screen and (min-width:992px){
	.section__center{
		display: flex;
		align-items: center;
	}
	.right__half{
		width: 45%;
	}

	.left__half{
		width: 45%;
		margin-right: 2rem;
	}

	.about__card{
		margin:0 0.2rem;
	}
}

/* End About */

/* Start Edu. and Expe. */

.edu__exp__sec{
	position: relative;
	background-image:var(--mainGradient);
	transition: all 0.3s linear;
	 margin: -1px auto 0 auto;
}

.education__section{
	padding: 1rem 2rem;
}

.btn{
	display: inline-block;
	text-transform: capitalize;
	background: var(--mainGradient);
	padding:0.5rem 1rem;
	border: 0.1px solid var(--primaryColor);
	color: var(--mainBlack);
	font-weight: bold;
	transition: all 0.3s linear;
	margin: 0 1rem;
}

.btn--white{
	background: var(--mainWhite);
}

.buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 1rem 5rem 1rem;
}

.timeline{
	text-transform: capitalize;
	margin-bottom: 0;
}

.timeline__title{
	text-transform: uppercase;
	margin: 0.7rem 0;
	font-size: 1.7rem;
}

.timeline__info{
	text-transform: capitalize;
}

.education__item{
	width: 14rem;
	margin-bottom: 4rem;
}

#exp__sec h4{
	text-align: center;
	text-transform: capitalize;
}

#exp__sec{
	padding-bottom: 2rem;
}

.hide{
	display: none;
}

.show{
	display: block;
}

@media screen and (min-width:768px){
	.edu__exp__sec::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 10rem;
  bottom: 2rem;
  left: 50%;
  margin-left: -3px;
}
.education__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
}

.timeline__text{
	display: flex;
	flex-direction: column;
	width: 15rem;
}

.timeline::after{
	  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 49%;
  background: var(--reverseGradient);
  border: 4px solid var(--primaryColor);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
}

.remove__line::after{
	content: none;
}

@media screen and (min-width:992px){
	.education__item{
		justify-content: space-around;
	}
}

/* End Edu. and Expe. */